@import './iconfont.css';

.container {
  padding: 20rpx 40rpx;
}

.menu {
  display: flex;
  justify-content: space-between;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background: #fff;
  border-top: 1rpx solid #eee;
  border-radius: 0 2px 2px 0 rgba(0,0,0,.2);
  .iconfont {
    font-size: 22px;
    width: 100rpx;
    height: 100rpx;
    line-height: 100rpx;
    text-align: center;
  }
}

.click:active {
  background: #f1f1f1;
  color: #fff;
}


//遮罩
.mask {
  position: fixed;
  z-index: 800;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: rgba(0,0,0,.2);

}

//目录
.titles {
  transition: transform .5s ease;
  position: fixed;
  z-index: 998;
  top: 0;
  left: 0;
  bottom: 0;
  width: 600rpx;
  height: 100%;
  background: #fff;
  border-right: 1px solid #f1f1f1;
  padding-left: 40rpx;

  .title-item {
    font-size: 14px;
    color: #444;
    padding-left: 40rpx;
    line-height: 30px;
    height: 30px;

    .text {
      border-bottom: 1px solid #f1f1f1;
    }
  }
}


