
@font-face {
  font-family: 'iconfont';  /* project id 782766 */
  src: url('//at.alicdn.com/t/font_782766_pegp3ht6gd.eot');
  src: url('//at.alicdn.com/t/font_782766_pegp3ht6gd.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_782766_pegp3ht6gd.woff') format('woff'),
  url('//at.alicdn.com/t/font_782766_pegp3ht6gd.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_782766_pegp3ht6gd.svg#iconfont') format('svg');
}
.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-xingzhuang163:before { content: "\e63b"; }

.icon-qianduan:before { content: "\e685"; }

.icon-UserSettings:before { content: "\e645"; }

.icon-UserSettings1:before { content: "\e600"; }

