
.container {
  padding: 0 20rpx;
}

.swiper-wrap {
  .swiper {
    height: 300rpx;
  }

  img {
    width: 710rpx;
    height: 300rpx;
    background: #000;
  }
}

.content {
  margin-top: 40rpx;

  .category-name {
    border-left: 1px solid #000;
    padding-left: 16rpx;
    font-weight: 700;
    font-size: 16px;
    height: 18px;
    line-height: 18px;
    margin-bottom: 30rpx;
  }

  .content-item {
    margin-top: 30rpx;
    display: flex;
    justify-content: space-between;

    .item-article {
      position: relative;
    }

    .title{
      padding: 10rpx 0;
      font-size: 14px;
      font-weight: 400;
    }

    .prev-content {
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 3;
      overflow: hidden;
      line-height: 1.5;
      font-size: 12px;
      color: #555;
      font-weight: 400;
    }
  }

  .img-wrap {
    img {
      width: 220rpx;
      height: 260rpx;
      display: block;
      box-shadow: 0 0 4px 0 rgba(0,0,0,.5);
    }
  }

  .item-article {
    width: 470rpx;

  }

  .author-details {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 10rpx;
    display: flex;
    justify-content: space-between;
    font-size: 12px;
    color: #666;
  }

}
